button{
    margin: 1vh;
    padding: 2vh;
    width: 15%;
    display: inline;
    justify-content: space-evenly;
}

input{
    width: 50vh;
    height: 5vh;
    color: black;
}

.main_content{
    margin-top: 17vh;
}